@import "../../css/variables";

.select {
  margin-bottom: 1rem;
  border: 1px solid $border-color;
  background-color: rgba(33, 40, 59, 0.35);
  padding: 0 7px;
  color: $color2;
}

.select__label {
  margin-bottom: .5rem;
  display: inline-block;
}

.select__spinner {
  min-width: 100px;
  min-height: 100px;
}

.select__options {
  position: relative;
  border-top: 1px solid $border-color;
  margin: 0 -7px;
  padding: 5px 7px 0;
}

.select__values {
  border-top: none;
}

.select__input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color1;
  background: none;
  //background-clip: padding-box;
  border: none;

  &:focus, &:active {
    outline: 0;
  }
}

.select__item {
  padding: .375rem .75rem;
  border: 1px solid $border-color;
  background-color: rgba(33, 40, 59, 0.35);
  margin-bottom: 4px;
  margin-right: 4px;

  img {
    display: inline;
    height: 13px;
    margin-bottom: -2px;
    margin-left: 7px;
    cursor: pointer;
  }
}

.select__option {
  cursor: pointer;
}