@import "../../css/variables";

.block {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $border-color;
  padding-left: 15px;
  margin: -15px -15px 30px;

  h1 {
    font-size: 1.375rem;
    font-weight: 600;
    text-transform: uppercase;

    img {
      display: inline;
      height: 1rem;
      margin-right: 8px;
    }

  }
}