.form-input {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: inherit;
  background-color: #fff;
  outline: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}