# dependencies
/*/node_modules

# Test
/*/coverage

# ide
/*/.idea
/server/src/common/.idea

# env
/*/.env.local
/*/.env.*.local

# production
/client/build
/server/dist
/server/logs
/server/upload/avatar/*
!/server/upload/avatar/standard.png
/server/upload/characterAvatar/*
!/server/upload/characterAvatar/.gitkeep
!/server/upload/characterAvatar/standard.png
/server/upload/guildAvatar/*
!/server/upload/guildAvatar/.gitkeep
!/server/upload/guildAvatar/standard.png
/server/upload/storyAvatar/*
!/server/upload/storyAvatar/.gitkeep
!/server/upload/storyAvatar/standard.png
/server/upload/reportAvatar/*
!/server/upload/reportAvatar/.gitkeep
!/server/upload/reportAvatar/standard.png
/server/upload/forumAvatar/*
!/server/upload/forumAvatar/.gitkeep
!/server/upload/forumAvatar/standard.png
/server/upload/articleAvatar/*
!/server/upload/articleAvatar/.gitkeep
!/server/upload/articleAvatar/standard.png


