# dependencies
/*/node_modules

# Test
/*/coverage

# ide
/*/.idea
/server/src/common/.idea

# env
/*/.env.local
/*/.env.*.local

# production
/client/build
/server/dist
/server/logs
/server/upload/avatar/*
!/server/upload/avatar/.gitkeep
/server/upload/characterAvatar/*
!/server/upload/characterAvatar/.gitkeep
/server/upload/guildAvatar/*
!/server/upload/guildAvatar/.gitkeep
/server/upload/storyAvatar/*
!/server/upload/storyAvatar/.gitkeep
/server/upload/reportAvatar/*
!/server/upload/reportAvatar/.gitkeep
/server/upload/forumAvatar/*
!/server/upload/forumAvatar/.gitkeep
/server/upload/articleAvatar/*
!/server/upload/articleAvatar/.gitkeep
