# dependencies
/client/node_modules
/server/node_modules

# ide
/client/.idea
/server/.idea
/server/src/common/.idea

# env
/server/dev.env
/server/prod.env

# production
/client/build
/server/dist
/server/logs
/server/upload/avatar/*
!/server/upload/avatar/standard.png
/server/upload/characterAvatar/*
!/server/upload/characterAvatar/.gitkeep
!/server/upload/characterAvatar/standard.png
/server/upload/guildAvatar/*
!/server/upload/guildAvatar/.gitkeep
!/server/upload/guildAvatar/standard.png
/server/upload/storyAvatar/*
!/server/upload/storyAvatar/.gitkeep
!/server/upload/storyAvatar/standard.png


