@import './variables';

.page-title.page-title_sm-hidden {
  h1 > span {
    display: none;
  }
}

@media (min-width: 576px) {
  .page-title.page-title_sm-hidden {
    justify-content: space-between;

    h1 > span {
      display: inline;
    }
  }
}
