.page-ticket-list {
  .not-found, .more-btn {
    margin-top: .6rem;
  }
  .more-btn {
    align-self: center;
  }
  h2 {
    font-weight: bold;
  }
  ul {
    display: flex;
    flex-direction: column;
    li {
      margin-top: .6rem;
      .title {
        font-weight: bold;
        font-size: .9rem;

      }

      .description {
        font-size: .8rem;
        color: #808080;
      }
    }
  }

}