@import '../../css/variables';

.material-fluid {
  margin: 0 15px 15px;
  background-color: transparentize($border-color, .65);
  border: 1px solid $border-color;

  &:hover .material-fluid__title {
    color: #5B87EF;
  }

  > .col-md-3 {
    padding-left: 0;
    padding-right: 0;
  }

  a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
  }
}

.material-fluid__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.material-fluid__body-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  font-size: .825rem;
}
.material-fluid__title {
  font-size: 1rem;
  transition: color .3s ease;
  margin-top: 7px;
  margin-bottom: 7px;
}

.material-fluid__muteTitle {
  font-size: .825rem;
  color: #A0A2A6;
  margin-bottom: 7px;
}