@import '../../css/variables';

.material {
  margin-bottom: 15px;

  a {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
    min-height: 100%;
  }

  &:hover .material__title {
    color: #5B87EF;
  }
}

.material__title {
  font-size: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 15px;
  right: 15px;
  transition: color .3s ease;
}

.material__top {
  position: absolute;
  top: .5rem;
  right: 15px;
  color: #949494;
  font-size: .625rem;
}

.material__bottom {
  position: absolute;
  bottom: 1rem;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  font-size: .625rem;
  color: #AAB4BB;
}

.material__bottom-right {
  margin-left: 5px;
}

.material__background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(33, 40, 59, 0.01) 70.31%, rgba(33, 40, 59, 0.9) 100%);
  border: 2px solid $border-color;
}