.search-form {
  position: relative;
}

.search-form__input {
  border: none;
  padding: 7px 32px 7px 32px;
  width: 100%;
  height: 100%;
}

.search-form__filter {
  position: absolute;
  left: 7px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}

.search-form__submit {
  position: absolute;
  right: 7px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}