@import '../../css/variables';
//@use 'sass:color';

$bg-color: #5B87EF;

.btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: .375rem .75rem;
  color: $color1;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: 400;
  word-wrap: normal;
  background-color: $bg-color;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color .3s ease;
  user-select: none;

  &:focus, &:hover {
    background-color: darken($bg-color, 5%);
  }
}

.btnBlock {
  display: block;
  width: 100%;
}