@import '../../css/variables';

.btn {
  display: inline-flex;
  align-items: center;
  padding: .375rem .75rem;
  border: none;
  background-color: $color3;
  color: $color1;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 400;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .3s ease;
  user-select: none;
  word-wrap: normal;

  &:focus,
  &:hover {
    background-color: darken($color3, 5%);
  }
}

.btn-block {
  display: block;
  width: 100%;
}
