.btn {
  display: inline-flex;
  align-items: center;
  padding: .375rem .75rem;
  color: #EBF1FF;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: 400;
  word-wrap: normal;
  background-color: #5B87EF;
  border: none;
  outline: none;
  //border-radius: .25rem;

  &:focus, &:hover {
    background-color: #4773db;
  }
}

.btn-block {
  display: block;
  width: 100%;
}