@import '../../css/variables';

.form {
  > .title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color1;
  background-color: transparentize($border-color, .65);
  background-clip: padding-box;
  border: 1px solid $border-color;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &::placeholder {
    color: $color2;
  }

  &:focus {
    outline: 0;
  }
}

textarea.form-control {
  height: auto;
}

.form-control-file {
  display: block;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;

  label {
    display: inline-block;
    margin-bottom: .5rem;
  }
}