@import '../../css/variables';

.block {
  padding: .75rem 1.25rem;
  border: 1px solid $border-color;
  margin-bottom: 1rem;
  background-color: transparentize($border-color, .65);
  color: #0f0;
  white-space: pre-line;
}
