@import "~bootstrap/scss/bootstrap-grid";
@import '../css/variables';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: .875rem;
  color: #EBF1FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

img {
  min-width: 100%;
  height: auto;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.app {
  display: flex;
  height: 100%;
  background-image: url("../img/LichKing.png");
  background-size: cover;

  &div {
    flex: 0 0 auto;
  }
}

.my-container {
  width: 100%;
  overflow-y: auto;
  //padding: 0 2rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;


  .container-inner {
    background-color: rgba(128, 128, 128, 0.5);
    //background-color: rgba(255, 255, 255, 0.85);
    //box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    padding: 9px 0;
    //min-height: 100%;
    flex-grow: 1;

    > .page {
      padding: 0 15px;
      max-width: 1200px;
      width: 95%;
      margin: 0 auto;
      background-color: transparentize($border-color, .55);
      border: 2px solid $border-color;
    }
  }
}

@media screen and (min-width: 798px) {
  .my-container {
    .container-inner {
      padding: 38px 0;

      > .page {

        width: 90%;
      }
    }
  }
  //.container {
  //  padding: 0 1rem;
  //}
}