@import "~bootstrap/scss/bootstrap-grid";
@import '~normalize.css';
@import '../css/variables';
@import '../css/common';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: .875rem;
  color: #EBF1FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.app {
  display: flex;
  height: 100%;
  background-image: url("../img/LichKing.png");
  background-size: cover;

  &div {
    flex: 0 0 auto;
  }
}

.app__body {
  width: 100%;
  overflow-y: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.app-body__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgba(128, 128, 128, 0.65);
  padding: 9px 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

.content__area {
  @extend %border-2;
  flex-grow: 1;
  width: 100%;
  padding: 15px 15px 0;
}

@media screen and (min-width: 798px) {
  .app-body__content {
    padding: 30px 0;
  }
  .content {
    width: 90%;
  }
}