@import '../../css/variables';

.home__title {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.home__top {
  margin: -15px -15px 0;
  border-bottom: 2px solid #21283B;
}

.home__info {
  flex-shrink: 0;
  padding-bottom: 5px;
}

.slider {
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  overflow: hidden;
  border-bottom: 2px solid #21283B;
}

.slider__list {
  display: flex;
  align-items: stretch;

  overflow-x: auto;
  overflow-y: hidden;

  .slider__item {
    flex: 0 0 45%;
  }
}

.slider__item-active {
  border-bottom: 2px solid $border-color;
  overflow: hidden;
  .slider-item__bg {
    border-bottom: none;
    border-right: none;
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 10px;
}

.prev {
  left: 5%;
}

.next {
  right: 5%;
}

.slider__item {

  &:hover .slider-item__title {
    color: #5B87EF;
  }
}

.slider-item {
  display: block;
  position: relative;
  min-height: 100%;
}

.slider-item__img {
  display: block;
  width: 100%;
  min-height: 100%;
}

.slider-item__title {
  font-size: 1rem;
  position: absolute;
  bottom: .75rem;
  left: 15px;
  transition: color .3s ease;
}

.slider-item__anons {
  font-size: .625rem;
  color: #A0A2A6;
  position: absolute;
  bottom: 2.25rem;
  left: 15px;
}

.slider-item__bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(33, 40, 59, 0.01) 70.31%, rgba(33, 40, 59, 0.9) 100%);
  border-right: 2px solid $border-color;
}

.slider__list .slider__item:last-child {
  .slider-item__bg {
    border-bottom: none;

    border-right: none;
  }
}

.widget {
  background-color: $color3;
  padding: 8px 23px;
  margin: 5px 5px 0;
  display: block;
  img {
    width: 24px;
  }
  span {
    text-transform: uppercase;
    margin-left: 14px;
  }
}

.widget_about {
  img {
    margin-bottom: -2px;
  }
}

.widget_online {
  img {
    margin-bottom: -4px;
  }
}

.widget_vk {
  img {
    margin-bottom: -6px;
  }
}

@media (min-width: 768px) {
  .home__top {
    display: flex;
    justify-content: space-between;
  }
  .slider {
    flex-direction: row;
    align-items: flex-start;
    border-bottom: none;
  }
  .slider__list {
    display: block;
    flex-basis: 30%;
    overflow-y: auto;
    overflow-x: unset;
  }
  .slider__item-active {
    flex-basis: 70%;
    border-right: 2px solid $border-color;
    border-bottom: none;
    overflow: hidden;
    .slider-item {
      display: inline-block;
      width: 100%;
    }
  }
  .slider-item__img {
    max-height: unset;
  }
  .slider-item__bg {
    border-right: none;
    border-bottom: none;
  }
}
