@import "../../css/variables";

.img {
  width: 100%;
  border: 2px solid $border-color;
  margin-bottom: 7px;
}

.imgWAuto {
  display: block;
  max-width: 100%;
  max-height: 600px;
  border: 2px solid $border-color;
  margin: 0 auto 7px;
}