$bg-color: #E54242;

.icon {
  height: 1.25rem;
}

.trash {
  background-color: $bg-color;

  &:focus, &:hover {
    background-color: darken($bg-color, 10%);
  }
}

.text {
  display: none;
}

@media (min-width: 768px) {
  .icon {
    margin-right: 7px;
  }

  .text {
    display: inline;
  }
}
