$bg-color: #e54242;

.control-button__icon {
  height: 1.25rem;
}

.btn.control-button__trash {
  background-color: $bg-color;

  &:focus,
  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

.control-button__text {
  display: none;
}

@media (min-width: 768px) {
  .control-button__icon {
    margin-right: 7px;
  }

  .control-button__text {
    display: inline;
  }
}
