.block {
  border: 2px solid #21283B;
  background-color: rgba(33, 40, 59, 0.35);
  margin: 0 0 7px;

  img {
    display: block;
    height: .875rem;
    min-width: auto;
    margin: 0 auto -2px;
  }
}

.img {
  display: inline-block;
  width: 20px;
}

.value {
  color: #A0A2A6;
}