@import '../../css/variables';

.block {
  border: 1px solid $border-color;
  background-color: transparentize($border-color, .65);
  margin: 0 0 7px;

  img {
    display: block;
    height: .875rem;
    margin: 0 auto -2px;
  }
}

.img {
  display: inline-block;
  width: 20px;
}

.value {
  color: $color2;
}