.guild-list {
  > .row {
    margin-bottom: 15px;
  }

  .guild {
    text-align: center;

    a {
      display: inline-block;
    }

    img {
      min-width: auto;
      max-width: 100%;
      width: 420px;
      height: 280px;
    }

  }

}