.profile-page {

  > .header-avatar {
    align-items: center;
    margin-bottom: .75rem;

    > .profile {
      cursor: auto;
      overflow: hidden;
      padding-right: 1rem;

      > .avatar_img {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .avatar {
    width: 3rem;
    height: 3rem;
    border: 1px solid grey;
    margin-right: .5rem;
  }
}
