.dropdown {
  position: absolute;
  z-index: 1;
  top: 2.2rem;
  left: auto;
  right: 0.5rem;
  width: 9rem;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .08);
  border: 1px solid rgba(34, 36, 38, .15);

  > .item {
    display: block;
    padding: .75rem 1rem;

    &:hover {
      background: rgba(0, 0, 0, .05);
    }
  }
}
@media (min-width: 576px) {
  .dropdown {
    top: 3.4rem;
  }

}
@media screen and (min-width: 992px) {
  .dropdown {
    left: -1.5rem;
  }
}