.header {
  background-color: #22293c;
  color: #fff;

  > .header-inner {
    //width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;

    >.header-item{
      display: block;
      position: relative;
      text-align: center;
      padding: .375rem .75rem;
      text-transform: uppercase;
      &:hover, &:focus {
        background-color: #4e6471;
        &::before {
          background-color: #ebf1ff;
        }
      }
      &::before {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
      }
    }

    > .logo {
      font-size: 2rem;
      padding: 1.5rem 1rem;
      img{
        height: 2.5rem;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      padding-left: .5rem;
      position: relative;
    }
  }
}

@media screen and (max-width: 66.5rem) {
  .header {
    display: none;
    > .header-inner {
      width: 98%;
    }
  }

  .show {
    display: flex !important;
    position: absolute;
    top:0;
    bottom: 0;

  }
}

