.header {
  background-color: #22293c;
  color: #fff;
  z-index: 10;

  .header-sub {
    display: flex;
    flex-direction: column;
  }

  > .header-inner {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    overflow-y: auto;

    .item-active {
      color: #626fa3;
    }

    > .accordion {
      flex-shrink: 0;

      .sub-item {
        font-size: .8rem;
        text-transform: none;
      }
    }

    .header-item {
      display: block;
      position: relative;
      cursor: pointer;
      text-align: center;
      padding: .375rem .75rem;
      text-transform: uppercase;

      &:hover {
        color: #626fa3;
      }
    }

    > .logo {
      font-size: 2rem;
      padding: 1.5rem 1rem;

      img {
        height: 2.5rem;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      padding-left: .5rem;
      position: relative;
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 0px;
    transition: max-width 0.3s ease;

    > .header-inner {
      width: 98%;
    }
  }

  .show {
    max-width: 100%;
  }
}

