.page-ticket-type-list {
  ul {
    li {
      margin-top: .6rem;
      .title {
        font-weight: bold;
        font-size: .9rem;

      }

      .description {
        font-size: .8rem;
        color: #808080;
      }
    }
  }
}