.header {
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: #22293c;
  color: #fff;
  user-select: none;
}

.subHeader {
  display: flex;
  flex-direction: column;
}

.inner {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: auto;
}

.logo {
  padding: 10px 1rem 1.5rem;
  font-size: 2rem;

  img {
    height: 2.5rem;
  }
}

.active {
  color: #626fa3;
}

.item {
  position: relative;
  display: block;
  padding: .375rem .75rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    color: #626fa3;
  }
}

.subItem {
  font-size: .8rem;
  text-transform: none;
}

.accordion {
  flex-shrink: 0;
}

@media screen and (max-width: 960px) {
  .header {
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: 0;
    transition: max-width .1s ease;
  }

  .inner {
    position: unset;
    width: 98%;
  }

  .show {
    max-width: 100%;
  }
}
